	<div class="limiter">	
		<div class="container-login100">
			<div class="wrap-login100 p-t-10 p-b-10">
				<form class="login100-form validate-form">
					
					<div *ngIf ='invalidlogin' class="alert alert-danger alert-dismissible fade show">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<strong>Danger !</strong> 
						<div class="dangerRow" >Username or password may be not correct !</div> 
						<div class="dangerRow" >Username : monna , password : monna . </div>
					</div>
			
					
					<span class="login100-form-title p-t-20">
						Welcome
					</span>
				<!--	<span class="login100-form-avatar">
						<img src="../../assets/images/avatar-01.jpg" alt="AVATAR">
					</span>
                                 -->
					<div class="wrap-input100 validate-input m-t-60 m-b-35" data-validate = "Enter username">
						<input id = "in2" class="input100" [(ngModel)]="username" type="text" name="Username">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
						<input id="in1" class="input100" [(ngModel)]="password" type="password" name="Password">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>

					<div class="container-login100-form-btn">
						<button (click)=loginClicked() class="login100-form-btn">
							Login
						</button>
					</div>
                                        <!--					<ul class="login-more p-t-190">
						<li class="m-b-8">
							<span class="txt1">
								Forgot
							</span>

							<a href="#" class="txt2">
								Username / Password?
							</a>
						</li>

						<li>
							<span class="txt1">
								Don’t have an account?
							</span>

							<a href="#" class="txt2">
								Sign up
							</a>
						</li>
                                        </ul>
                                        -->

				</form>
			</div>
		</div>
	</div>

	<!--<div id="dropDownSelect1"></div>-->
<script>
		
   $( document ).ready(function() {
    console.log( "ready!" );

 

});	
</script>